:root {
  font-family: Helvetica, sans-serif;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

h1,
h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

@mixin bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
